.font_family_heebo {
    font-family: 'Heebo', sans-serif;
}

.font_family_poppins {
 font-family: 'Poppins', sans-serif;
   
}

.ml-4 {
    margin-left: 100px;
}

.w-35 {
    width: 35%;
}

.w-15 {
    width: 20%;
}

.ml-5 {
    margin-left: 150px;
}

.ml-3 {
    margin-left: 50px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}