.font_family_heebo {
    font-family: 'Heebo', sans-serif;
}

.font_family_poppins {
    font-family: 'Poppins', sans-serif;

}

.ml-3 {
    margin-left: 50px;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.shadow-hover:hover {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    transition: .5s;
    cursor: pointer;
}

.btn-card {
    background-color: #E0E0E0;
    color: #828282;
}

.hover-boton:hover {
    background-color: #007bff;
    color: #fff;
}



.text-title {
    font-size: 14px;
}

.mr-4 {
    margin-right: 120px;
}

.w-5 {
    width: 55px;
}

.w-10 {
    width: 260px;
}

.w-95 {
    width: 95%;
}

.h-10 {
    height: 260px;
}

.bg-footer {
    background-color: #100E1D;
}

.mt-20 {
    margin-top: -20px;
}

.w-8 {
    width: 150px;
}

@media (min-width: 768px) {


    .ml-4 {
        margin-left: 100px;
    }

    .wl-75 {
        width: 75%;
    }

    .wl-50 {
        width: 50%;
    }

    .wl-35 {
        width: 35%;
    }

    .wl-15 {
        width: 20%;
    }

    .ml-5 {
        margin-left: 150px;
    }

    .wl-30 {
        width: 30%;
    }

    .wl-25 {
        width: 25%;
    }

    .m-lg-5 {
        margin: 3rem;
    }

    .mt-100 {
        margin-top: 100px;
    }

    .wl-10 {
        width: 260px
    }

    .hl-10 {
        height: 260px
    }

}