.font_family_heebo {
    font-family: 'Heebo', sans-serif;
}

.font_family_poppins {
 font-family: 'Poppins', sans-serif;
   
}

.ml-4 {
    margin-left: 100px;
}

.w-35 {
    width: 35%;
}

.w-30 {
    width: 30%;
} 
.w-15 {
    width: 20%;
}

.ml-5 {
    margin-left: 150px;
}

.ml-3 {
    margin-left: 50px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.shadow-hover:hover {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    transition: .5s;
    cursor: pointer;
}

.btn-card {
    background-color: #E0E0E0;
    color: #828282; 
}
.hover-boton:hover{
    background-color: #007bff;
    color: #fff;
}

.mt-100 {
    margin-top: 100px;
}

.text-title {
    font-size: 14px;
}

.mr-4{
    margin-right: 120px;
}

.w-5 {
    width: 80px;
}